body{
    box-sizing: border-box;
    background-color: aqua;
  
}
h1{
    display: block;
    width: 100%;
    text-align: center;
    color: darkgrey;
    background-color: darkslateblue;
}
input{
    background-color: silver;
    align-items: center;
    margin-left: 45%
}
input::placeholder{
    text-align: center;
}
button{
   background-color:  silver;
}
.itemss{
    padding-left: 40%;
    background-color: snow;
    color: rgb(25, 0, 255);
}